body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    
}

#challenger-choice {
    width: 260px;
    height: 230px;
    background-color: rgb(249, 88, 120);
    margin-top: 10px;

}

#your-choice {
    width: 260px;
    height: 230px;
    background-color:rgb(129, 229, 129);
    margin-top: 10px;
    margin-bottom: 10px;

}

#choices {
    width: 260px;
    height: 80px;
    background-color:rgb(138, 138, 138);
    margin-top: 10px;
    margin: 0 auto;
}

#choices img {
    width: 80px;
    height: 80px;
}


